<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div th:if="${nickname != null}">
    <h1 th:text="${nickname} + '님 안녕하세요!'"></h1>
    <button th:attr="onclick='location.href=\'' + @{/profile/{profileId}(profileId=${profileId})} + '\''">프로필 바로가기</button>
</div>
<div th:if="${nickname == null}">
    <h1>안녕하세요!</h1>
</div>
</body>
</html>