<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
<h1 th:text="${profile.nickname} + '의 프로필입니다'"></h1>

<div th:if="${profile != null}">
    <p th:text="'닉네임: ' + ${profile.nickname}"></p>
    <p th:text="'이메일: ' + ${profile.email}"></p>
    <p th:text="'채널 이름: ' + ${profile.channelName}"></p>
    <p th:text="'구독자 수: ' + ${profile.subscribeCount}"></p>
    <p th:text="'프로필 이미지 URL: ' + ${profile.profileImageUrl}"></p>
    <p th:text="'채널 설명: ' + ${profile.description}"></p>
    <p th:text="'좋아요 수: ' + ${profile.likeCount}"></p>
    <div th:if="${profile.profileTagNames != null and not #lists.isEmpty(profile.profileTagNames)}">
        <p>Profile Tags:</p>
        <ul>
            <li th:each="tagName : ${profile.profileTagNames}" th:text="${tagName}"></li>
        </ul>
    </div>
    <!-- Add more fields as needed -->
</div>
<form th:if="${profile.isMine == false}" th:action="@{/profile/{profileId}/likes(profileId=${profile.profileId})}" method="post">
    <input type="submit" value="좋아요">
</form>
<button th:if="${profile.isMine == true}" th:onclick="'location.href=\'/profile/' + ${profile.profileId} + '/modifyProfile\''">프로필 수정</button>
<div th:if="${profile == null}">
    <p>User profile not found.</p>
</div>
</body>
</html>